/*importado*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.titulo{
    background-color: green;
    color: white;
    font-size: 50px;
    font-family: verdana;
    font-style: italic;
    letter-spacing: 6px;
    text-shadow: 3px 2px 3px black;
}                /*ht vt dist cor*/
.texto{
    color: black;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    line-height: 25px;
}
.centro{
    text-align: center;
}
.negrito{
    font-weight: bold;
    color: black;
}
.maius{
    text-transform: uppercase;
}
.diferente{
    background-color: gray;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
}